$maincolor:#0ee6b0;


@mixin maincolorHover {
    color: $maincolor;
    cursor: pointer;
}

@mixin seccolorHover {
    background-color: black;
    cursor: pointer;
}



@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}




body{
    height: 3000px;
}


.head{
    height: 0;
}
.firstheader{
    color: white;
    height: 0;
    h4{
        font-size: .2rem;
        float: left;
        &:hover{
            @include maincolorHover;
        }
    }
}
.mainheader{

    .container{
        background-color: white;
        height: 0rem;

    }
    .navbar{
        padding: 1rem;
    }
    .menu{
        @media screen and (max-width: 992px) {
            .menu{
                display: none!important;
            }
        }
    }
    .fa-heartbeat{
        color: $maincolor;
        margin-right: .4rem;
    }
    .container-vir{
        width: 90%;
        margin-left: 5%;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        
        h5{
            font-size: 1rem;
            height: 5rem;
            display: flex;
            align-items: center;
            &:hover{
                @include maincolorHover()
            }
        }
        
      }
      
    .dropdown-content {
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        // z-index: 1;
        transform: translateY(6rem);
        visibility: hidden;
        transition: visibility transform();
        transition-duration: .3s;
        transition-timing-function: ease-in;
        box-shadow: none;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover{
            background-color: $maincolor;
            color: white;
        }
    }
    .dropdown:hover .dropdown-content {
        transform: translateY(8px);
        visibility: visible;
    }
    a:hover{
        cursor: pointer;
        background-color: $maincolor;
    }      
    h4{
        &:hover{
            cursor: pointer;
        }
    }
    button{
        cursor: pointer;
        height: 3rem;
        font-weight: bolder;
        &:first-of-type{
            position: relative;
            background-color: transparent;
            border: solid .5px gray;
            width: 10rem;
            margin-right: .5rem;
            &:hover{
                background-color: $maincolor;
                color: white;
                >i{
                    color: black;
                }
            }
            i{
                transform: rotate(45deg);
                position: absolute;
                top: .1rem;
                right: .2rem;
                color: $maincolor;
                font-weight: bold;
            }
        }
        &:last-of-type{
            width: 3rem;
            background-color: $maincolor;
            color: white;
            border: none;
            &:hover{
                @include seccolorHover()
            }
        }
    }
    .backupMenu{
        height: 3rem;
        width: 3rem;
        border: solid black 1px;
        @include center();
        display: none;
        font-size: 1.6rem;
        &:hover{
            cursor: pointer;
        }
        @media(max-width:992px){
            .backupMenu{
                display: block!important;
                 
            }
        }
    }
}

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/banner.jpg');;
    height: 40rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include center;
    .item{
        color: white;
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 10rem;
        margin-top: 7rem;
        h4{
            font-size: 4rem;
            font-weight: bolder;
        }
        h6{
            border-left: $maincolor solid .3rem;
        }
        .btns{
            button{
                height: 3rem;
                width: 12rem;
                position: relative;
                
            }
            i{
                transform: rotate(45deg);
                position: absolute;
                top: .1rem;
                right: .2rem;
                font-weight: bold;
            }
            
            button:first-of-type{
                background-color: $maincolor;
                color: black;
                border: none;
                &:hover{
                    background-color: transparent;
                    color: white;
                    border: white solid 2px;
                    cursor: pointer;            
                }
            }
            
            button:last-of-type{
                color: white;
                background-color: transparent;
                border: white solid 2px;
                &:hover{
                    background-color: $maincolor;
                    color: black;
                    border: none;
                    cursor: pointer;  
                    >i{
                        color: black;
                    }          
                }
                i{
                    color: $maincolor;
                }
            }
        }
        .animated { 
            animation-duration: 100ms;
            animation-fill-mode: both; 
        }
        

    }
    .owl-dots{
        @include center();
        margin-top: 2rem;
        button{
            height: .7rem;
            width: .7rem;
            border-radius: 50%;
            background-color: white;
        }
        .active{
            background-color: $maincolor;
        }
        :nth-child(2){
            margin-left: .4rem;
            margin-right: .4rem;
        }

    }
    .skew{
        height: 100%;
        width: 17rem;
        background-color: RGBA(14,230,176,.7);
        transform: skew(-45deg);
        margin-right: -10rem;
    }
}




.about{
    *, ::after, ::before{
        box-sizing: content-box;
    }
    background-color: black;
    padding-top: 12rem;
    padding-bottom: 12rem;
    .container{
        padding-left: 10rem;
        padding-right: 10rem;
        display: grid;
        grid-template-columns: 50% 50%;
        .imgs{
            margin-right: 2rem;
            position: relative;
            img{
                position: absolute;
                z-index: 2;
            }
            img:first-of-type{  
                top: 0;
                left: 0;
                width: 80%;
                height: 80%;
                z-index: 1
            }
            img:nth-of-type(2){
                right: 2%;
                bottom: 0px;
                width: 70%;
                height: 50%;
            }
            img:nth-of-type(3){
                right: 2%;
                top: 2%;
                width: 30%;
            }
            img:nth-of-type(4){
                width: 15%;
                height: 15%;
                top: 140px;
                right: 12%;
            }
            img:last-of-type{
                width: 40%;
                left: -20%;
                bottom: 10%;
            }

        }
        
        .txt{
            margin-left: 2rem;
            div:first-of-type{
                display: flex;
                align-items: center;
                .line{
                    height: .1rem;
                    width: 2rem;
                    background-color: $maincolor;
                    float: left;
                    margin-right: 1rem;
                }
                h4{
                    color: $maincolor;
                }
            }
            .third{
                background-color: $maincolor;
                padding-left: 1rem;
                height: 4rem;
                h4{
                    line-height: 4rem;
                }
            }






        }

        p{
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: rgba(255, 255, 255, 0.6);
        }
        .stat{
            @include center();
            .piechart{
                @include center();
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background: conic-gradient($maincolor 64%, grey 0%);
                position: relative;
                margin-right: 1rem;
                .back{
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: black;
                }
            }
            h4{
                color: $maincolor;
                font-size: 3rem;
                margin-right: 1rem;
            }
            .exp{
                width: 70%;
                // padding-left: 2rem;
                h5{
                    color: white;
                    font-size: 2rem;
                }
            }
        }
        .stat:last-of-type{
            .piechart{
                background: conic-gradient($maincolor 97%, grey 0%);

            }
        }





    }

}


